/* font gotham */
@import url('../fonts/font-face.css');

body {
	font-family: "Gotham";
	font-size: 100%;
  padding-top: 100px;
}

:root {
  --purple: #A2177C;
  --dark-purple: #521e4c;
  --blue-purple: #54368C;
  --blue: #3C2963;
  --grey: #585757;
  --soft-grey: #d3d3d3;
}

.btn-premia {
  background-color: var(--soft-grey);
  padding: 0.8rem 2rem;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 0;
}

.btn-premia:hover {
	background-color: #A2177C;
	border: none;
}

/* NAV BAR */
.nav__bg--premia{
	background-color: #fff;
}

.nav__bg--premia .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 55, 55, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link__premia {
  font-weight: 500;
  color: var(--blue);
  font-size: 1.5rem;
}

.nav-link__premia:hover {
  color: var(--purple);
}

.navbar-brand {
	max-width: 50%;
}

.navbar-brand img{ 
	max-width: 50%;
  	height: auto;  
}

.color-premia{
  color: var(--purple);
}

/* Footer */

#main-footer h1 {
	color: var(--grey);
	font-size: 1.5rem;
	margin: 0;
}

#main-footer p{
	margin: 0;
}

#main-footer a {
	color: var(--purple);
	font-weight: 800;
}

#main-footer img {
	max-width: 200px;
}


/* =-=-=-= HOME =-=-=-=-=- */

/* HEADER */
#main-header {
  background: #fff;
}

#video {
  background: var(--dark-purple);
}

#video video{
  max-width: 100%;
}

/* TIMELINE */

#timeline, .bg-purple{
	background-color: var(--purple);
	color: #fff;
}

.cd-timeline {
  /* some text here one day */
}

.cd-timeline-container {
  padding-top: 4rem;
  padding-left: 2rem;
  position: relative;
}

.cd-timeline-content-img {
  max-width: 150px;
  padding-bottom: 1rem;
} 

.cd-timeline-block {
  position: relative;
  padding: 1.5rem 2rem;
  border-left: 1.2rem solid var(--dark-purple);
  color: var(--dark-purple);
}

.cd-block-content {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-4rem);
}

.cd-timeline-block h1{
  font-size: 1.8rem;
}

.cd-timeline-block h2{
  font-size: 1.5rem;
  font-weight: 400;
}

.cd-timeline-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.8rem;
  width: 40px;
  height: 20px;
  background: var(--dark-purple);
  border-radius: 25px 25px;
}

.cd-timeline-block-active-point {
  color: #fff;
}

.cd-timeline-block-active-point::before { 
  background: #fff;
}

.cd-timeline-block-active {
  border-left-color: #fff;
  color: #fff;
}

.cd-timeline-block-active::before {
  background: #fff;
}


/* CATEGORIAS */
#categories {
  color: var(--purple);
}

#categories li{
	list-style: none;
	padding: 0 0 2rem 3rem;
}

#categories li h2 {
	font-size: 1.5rem;
}

#categories li:first-child {
	background: url('../assets/cat-1.png') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(2) {
	background: url('../assets/cat-2.png') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(3) {
	background: url('../assets/cat-3.png') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(4) {
	background: url('../assets/cat-4.png') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(5) {
	background: url('../assets/cat-5.png') no-repeat top left;
	background-size: 2.5rem;
}

#categories p {
	color: #666666;
}

/* =-=-=-=-=- inscricoes =-=-=-=-=-= */

#inscricoes {
  padding-bottom: 5rem;
	background-color: var(--blue-purple);
	color: #fff;
}

#inscricoes a {
  color: var(--blue);
}

#inscricoes a:hover {
  color: #fff;
}

.icon-subscribe {
  background: url('../assets/')
}

/* =-=-=-= regulamento =-=-=-=-= */

#regulamento {
  color:#54368C;
}

#regulamento a {
  color: #666666;
  position: relative;
  padding: 2rem 0;
  display: inline-block;
}

.icon-pdf::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: url('../assets/pdf-icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 100%;
  margin-left: -40px;
}

#FAQ {
background-color: #3C2963;
	color: #fff;
}


.ask {
	font-weight: bold;
	font-size: 1.2em;
}

/* =-=-=-= about =-=-=-=-= */

#about p {
	font-size: 1.2rem;
}