@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url('./Gotham-Black.woff2') format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: 600;
    src: url('./Gotham-Bold.woff2') format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url('./Gotham-Medium.woff2') format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    src: url('./Gotham-Book.woff2') format("woff2");
}